.idea/
/alpaca_native
/lora-shepherd-7b/10
/lora-shepherd-7b
/data_download/databricks_dolly_15k/data/10
__pycache__/
*.pyc
bitsandbytes
vicuna-blog-eval
/data_download/GLUE/mnli
/data_download/GLUE/qqp
test.txt
/alpaca-prefix
/llama2-lora